.row{
  display: flex;
  justify-content: space-between;
}
#docs-root .sbdocs-wrapper{
  background: var(--exo-color-background);
  font: var(--exo-text-body-large);
  color: var(--exo-text-body-large-color);
}
#docs-root .sbdocs-wrapper .sbdocs-preview{
  background: var(--exo-color-background-disabled);
  border: 1px solid var(--exo-color-shadow-weak);
  box-shadow: var(--exo-color-shadow-weak) 0 1px 3px 0;
}
#docs-root .sbdocs-wrapper .sbdocs-preview .docs-story > div:last-child{
  background: var(--exo-color-background);
}
#docs-root .sbdocs-wrapper .sbdocs-preview .docblock-code-toggle{
  color: var(--exo-color-font);
  background: var(--exo-color-background);
}
#docs-root .sbdocs-wrapper .docblock-argstable tbody{
  box-shadow: var(--exo-color-shadow-weak) 0 1px 3px 1px, var(--exo-color-shadow-strong) 0 0 0 1px;
}
#docs-root .sbdocs-wrapper .docblock-argstable th,
#docs-root .sbdocs-wrapper .docblock-argstable td{
  color: var(--exo-color-font);
}
#docs-root .sbdocs-wrapper .docblock-argstable th button[title="Reset controls"] {
  box-shadow: var(--exo-color-shadow-moderate) 0 0 0 1px inset;
}
#docs-root .sbdocs-wrapper .docblock-argstable tbody td{
  background: var(--exo-color-background-disabled);
  border-bottom: 1px solid var(--exo-color-border);
}
#docs-root .sbdocs-wrapper .docblock-argstable td select,
#docs-root .sbdocs-wrapper .docblock-argstable td textarea{
  color: var(--exo-color-scrim);
  background: var(--exo-color-background);
  box-shadow: var(--exo-color-border) 0 0 0 1px inset;
}
.sbdocs-wrapper h1{
  font: var(--exo-text-h1);
  color: var(--exo-text-h1-color);
}
.sbdocs-wrapper h2{
  font: var(--exo-text-h2);
  color: var(--exo-text-h2-color);
  border-bottom: none;
}
.sbdocs-wrapper h3{
  font: var(--exo-text-h3);
  color: var(--exo-text-h3-color);
}
.sbdocs-wrapper h4{
  font: var(--exo-text-h4);
  color: var(--exo-text-h4-color);
}
.sbdocs-wrapper h5{
  font: var(--exo-text-h5);
  color: var(--exo-text-h5-color);
}
.sbdocs-wrapper h6{
  font: var(--exo-text-h6);
  color: var(--exo-text-h6-color);
}
.sbdocs-wrapper p{
  font: var(--exo-text-body-large);
  color: var(--exo-text-body-large-color);
  margin-top: var(--exo-spacing-none);
  margin-bottom: var(--exo-spacing-standard);
}

.sbdocs-wrapper small{
  font: var(--exo-text-body-small);
  color: var(--exo-text-body-small-color);
  font-style: italic;
}

.sbdocs-wrapper ul li > span,
.sbdocs-wrapper ol li > span,
.sbdocs-wrapper p > span{
  font: var(--exo-text-sub-heading-medium-semi-bold);
  color: var(--exo-text-sub-heading-medium-semi-bold-color);
}
.sbdocs-wrapper ul li,
.sbdocs-wrapper ol li{
  font: var(--exo-text-body-large);
  color: var(--exo-text-body-large-color);
  margin-bottom: var(--exo-spacing-standard);
}
.sbdocs-wrapper a{
  font: var(--exo-text-link-standard);
  color: var(--exo-text-link-standard-color);
}

.sbdocs-wrapper .docblock-source,
.sbdocs-wrapper .docblock-source .os-host,
.sbdocs-wrapper .docblock-source .os-host-textarea{
  background: var(--exo-color-background-secondary);
  border: 1px solid var(--exo-color-border);
}
.sbdocs-wrapper .docblock-source{
  border: none;
}
.sbdocs-wrapper .os-host,
.sbdocs-wrapper .os-host-textarea{
  background: var(--exo-color-page);
}
.sbdocs-wrapper .os-host code,
.sbdocs-wrapper .os-host-textarea code{
  font: var(--exo-text-code-standard) !important;
  color: var(--exo-text-code-standard-color) !important;
}
.sbdocs-wrapper code span{
  font: var(--exo-text-code-standard) !important;
  color: var(--exo-text-code-standard-color) !important;
}
.sbdocs-wrapper table{
  width: 100%;
  font: var(--exo-text-body-medium);
  color: var(--exo-text-body-medium-color);
  border: var(--exo-color-border);
}
.sbdocs-wrapper table tr{
  border-top: var(--exo-color-border);
  background: var(--exo-color-background);
}
.sbdocs-wrapper table thead tr th,
.sbdocs-wrapper table tr td {
  font: var(--exo-text-body-medium);
  color: var(--exo-text-body-medium-color);
  border: 1px solid var(--exo-color-border);
}
.sbdocs-wrapper table tr:nth-of-type(2n){
  background: var(--exo-color-background-secondary);
}

.sbdocs-wrapper table thead tr th,
.sbdocs-wrapper table tbody tr td{
  font: var(--exo-text-body-medium);
  color: var(--exo-text-body-medium-color);
  border: 1px solid var(--exo-color-border);
}

.sbdocs-wrapper table thead tr th{
  font: var(--exo-text-sub-heading-medium-semi-bold);
  color: var(--exo-text-sub-heading-medium-semi-bold-color);
}

.sbdocs-wrapper table tr code{
  font: var(--exo-text-code-standard);
  color: var(--exo-text-code-standard-color);
  background: var(--exo-color-background-disabled);
  border: 1px solid var(--exo-color-border);
}

.sbdocs-wrapper .ex-container-fluid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  width: 100%;
}
.sbdocs-wrapper .d-flex{
  display: flex;
}
.sbdocs-wrapper .text-center{
  text-align: center;
}
.sbdocs-wrapper .hero-image{
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height: 371px;
}
.sbdocs-wrapper .cross-icon-inline{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  cursor: pointer;
}
.ex-theme-light .sbdocs-wrapper .hero-image-getting-started{
  background-image: url("../images/hero-getting-started-light.svg");
}
.ex-theme-dark .sbdocs-wrapper .hero-image-getting-started{
  background-image: url("../images/hero-getting-started-dark.svg");
}
.ex-theme-light .sbdocs-wrapper .hero-image-foundation{
  background-image: url("../images/hero-foundation-light.svg");
}
.ex-theme-dark .sbdocs-wrapper .hero-image-foundation{
  background-image: url("../images/hero-foundation-dark.svg");
}
.sbdocs-wrapper .highlighted-text{
  display: inline-block;
  font: var(--exo-text-label-medium);
  color: var(--exo-text-label-medium-color);
  background: var(--exo-color-background-secondary);
  padding: var(--exo-spacing-standard);
  border-radius: var(--exo-radius-large);
}
.sbdocs-wrapper .info-text,
.sbdocs-wrapper .warning-text{
  align-items: center;
  font: var(--exo-text-label-medium);
  color: var(--exo-text-label-medium-color);
  background: var(--exo-color-background-info);
  padding: var(--exo-spacing-standard);
  border-radius: var(--exo-radius-large);
  margin-bottom: var(--exo-spacing-large);
}
.sbdocs-wrapper .warning-text{
  background: var(--exo-color-background-warning);
}

.sbdocs-wrapper .info-text :last-of-type,
.sbdocs-wrapper .warning-text :last-of-type{
  margin-bottom: 0;
}

.sbdocs-wrapper .icon{
  display: inline-block;
  font-size: var(--exo-font-size-3x-large);
  padding: var(--exo-spacing-medium);
  border-radius: var(--exo-radius-large);
  margin-bottom: var(--exo-spacing-standard);
}
.sbdocs-wrapper .icon-medium-inline{
  display: inline-block;
  font-size: var(--exo-font-size-medium);
  vertical-align: middle;
  margin-left: var(--exo-spacing-x-small);
}
.sbdocs-wrapper .text-standard{
  font: var(--exo-text-body-medium);
  color: var(--exo-text-body-medium-color);
  margin-bottom: var(--exo-spacing-standard);
}
.sbdocs-wrapper .card-container{
  display: flex;
  justify-content: space-between;
  margin-top: var(--exo-spacing-x-large);
  margin-bottom: var(--exo-spacing-2x-large);
}
.sbdocs-wrapper .card{
  flex: 1;
  padding: var(--exo-spacing-large);
  border: 1px solid var(--exo-color-border);
  border-radius: var(--exo-radius-large);
  box-shadow: var(--exo-box-shadow-weak);
  margin-left: var(--exo-spacing-x-large);
}
.sbdocs-wrapper .card:hover,
.sbdocs-wrapper .card:focus{
  border: 1px solid var(--exo-color-border-tertiary);
}
.sbdocs-wrapper .card:first-child{
  margin-left: 0;
}
.sbdocs-wrapper .card .icon,
.sbdocs-wrapper .our-principal-col .icon{
  background: var(--exo-color-background-secondary);
  color: var(--exo-color-font-link-secondary);
}
.sbdocs-wrapper .card .text-standard{
  margin-bottom: var(--exo-spacing-standard);
}
.sbdocs-wrapper .our-principal-col{
  text-align: center;
  margin-left: var(--exo-spacing-x-large);
  margin-top: var(--exo-spacing-2x-large);
}
.sbdocs-wrapper .our-principal-col:first-child{
  margin-left: 0;
}

/* FOUNDATION PAGE */
.sbdocs-wrapper .card-container-foundation .card{
  text-align: center;
}
.sbdocs-wrapper .card-container-foundation .card .icon{
  background: var(--exo-color-background-secondary);
  color: var(--exo-color-font-link-secondary);
}

/* Component page */
.sbdocs-wrapper .updated-date-text{
  font: var(--exo-text-body-small);
  color: var(--exo-text-body-small-color);
  font-style: italic;
}
.sbdocs-wrapper .status-info-container{
  padding: var(--exo-spacing-none);
  margin-top: var(--exo-spacing-x-large);
  margin-bottom: var(--exo-spacing-x-large);
}
.sbdocs-wrapper .status-info-container .status-info-row{
  list-style: none;
  margin-bottom: var(--exo-spacing-standard);
}
.sbdocs-wrapper .status-info-container .status-info-row span{
  display: inline-block;
  vertical-align: middle;
}
.sbdocs-wrapper .status-info-container .status{
  width: 15%;
  font: var(--exo-text-sub-heading-standard-semi-bold);
  color: var(--exo-text-sub-heading-standard-semi-bold-color);
  margin-right: var(--exo-spacing-x-large);
}
.sbdocs-wrapper .status-info-container .status .status-icon{
  font-size: var(--exo-font-size-x-large);
  margin-right: var(--exo-spacing-x-small);
}
.sbdocs-wrapper .status-info-container .information{
  width: calc(100% - 15% - var(--exo-spacing-x-large));
  font: var(--exo-text-body-small);
  color: var(--exo-text-body-small-color);
}
.sbdocs-wrapper .status-table-div{
  max-height: var(--exo-size-7);
  border: 1px solid var(--exo-color-background-disabled);
  border-radius: var(--exo-radius-large);
  overflow: auto;
  margin-bottom: var(--exo-spacing-large);
}
.sbdocs-wrapper .status-table-div table{
  margin: var(--exo-spacing-none);
  width: 100%;
}
.sbdocs-wrapper .status-table-div table tr th{
  font: var(--exo-text-sub-heading-medium-semi-bold);
  color: var(--exo-text-sub-heading-medium-semi-bold-color);
  text-align: center;
  background: var(--exo-color-background-disabled);
  padding: var(--exo-spacing-standard);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.sbdocs-wrapper .status-table-div table tr th:first-child{
  z-index: 2;
}
.sbdocs-wrapper .status-table-div table tr td:first-child{
  z-index: 1;
}
.sbdocs-wrapper .status-table-div table tr th:first-child,
.sbdocs-wrapper .status-table-div table tr td:first-child{
  text-align: left;
  border-right: 1px solid var(--exo-color-border);
}
.sbdocs-wrapper .status-table-div table tr th:first-child,
.sbdocs-wrapper .status-table-div table tr td:first-child{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.sbdocs-wrapper .status-table-div table tr th:nth-child(6),
.sbdocs-wrapper .status-table-div table tr td:nth-child(6){
  border-right: 1px solid var(--exo-color-border);
}
.sbdocs-wrapper .status-table-div table tbody tr:hover{
  background: var(--exo-color-background-secondary);
}
.sbdocs-wrapper .status-table-div table tbody tr td{
  font: var(--exo-text-body-medium);
  color: var(--exo-text-body-medium-color);
  padding: var(--exo-spacing-standard);
  background: var(--exo-color-background);
  text-align: center;
}
.sbdocs-wrapper .status-table-div table tbody tr td span.status-table-icon{
  display: flex;
  justify-content: center;
  font-size: var(--exo-font-size-x-large);
}
.sbdocs-wrapper .status-table-div table th,
.sbdocs-wrapper .status-table-div table td{
  border: none;
}
.sbdocs-wrapper .tokens-table-div{
  max-height: none;
}
.sbdocs-wrapper .tokens-table-div table tr th:first-child,
.sbdocs-wrapper .tokens-table-div table tr td:first-child{
  border-right: none;
}
.sbdocs-wrapper .tokens-table-div table tr th,
.sbdocs-wrapper .tokens-table-div table tbody tr td{
  text-align: left;
  width: 25%;
}
.sbdocs-wrapper .tokens-table-div table tbody tr td span.status-table-icon {
  justify-content: left;
}
.sbdocs-wrapper .heading-text-table-div table tr th,
.sbdocs-wrapper .heading-text-table-div table tbody tr td{
  width: auto;
}
/* Core Colors */
.sbdocs-wrapper .core-color-swatch{
  width: var(--exo-size-1);
  height: var(--exo-size-1);
  border: 1px solid var(--exo-color-border);
}
.sbdocs-wrapper .core-color-swatch-text{
  font: var(--exo-text-body-small);
  color: var(--exo-text-body-small-color);
  text-align: center;
}
/* Colors classes*/
.sbdocs-wrapper .core-color-white{
  background: var(--exo-palette-white);
}
.sbdocs-wrapper .core-color-black{
  background: var(--exo-palette-black);
}
.sbdocs-wrapper .core-color-brand{
  background: var(--exo-palette-brand);
}
/* Red */
.sbdocs-wrapper .core-color-red-20{
  background: var(--exo-palette-red-20);
}
.sbdocs-wrapper .core-color-red-30{
  background: var(--exo-palette-red-30);
}
.sbdocs-wrapper .core-color-red-40{
  background: var(--exo-palette-red-40);
}
.sbdocs-wrapper .core-color-red-50{
  background: var(--exo-palette-red-50);
}
.sbdocs-wrapper .core-color-red-60{
  background: var(--exo-palette-red-60);
}
.sbdocs-wrapper .core-color-red-70{
  background: var(--exo-palette-red-70);
}
.sbdocs-wrapper .core-color-red-80{
  background: var(--exo-palette-red-80);
}
.sbdocs-wrapper .core-color-red-90{
  background: var(--exo-palette-red-90);
}
/* Coral */
.sbdocs-wrapper .core-color-coral-40{
  background: var(--exo-palette-coral-40);
}
.sbdocs-wrapper .core-color-coral-50{
  background: var(--exo-palette-coral-50);
}
.sbdocs-wrapper .core-color-coral-60{
  background: var(--exo-palette-coral-60);
}
.sbdocs-wrapper .core-color-coral-70{
  background: var(--exo-palette-coral-70);
}
/* Yellow */
.sbdocs-wrapper .core-color-yellow-20{
  background: var(--exo-palette-yellow-20);
}
.sbdocs-wrapper .core-color-yellow-30{
  background: var(--exo-palette-yellow-30);
}
.sbdocs-wrapper .core-color-yellow-40{
  background: var(--exo-palette-yellow-40);
}
.sbdocs-wrapper .core-color-yellow-50{
  background: var(--exo-palette-yellow-50);
}
.sbdocs-wrapper .core-color-yellow-60{
  background: var(--exo-palette-yellow-60);
}
.sbdocs-wrapper .core-color-yellow-70{
  background: var(--exo-palette-yellow-70);
}
.sbdocs-wrapper .core-color-yellow-80{
  background: var(--exo-palette-yellow-80);
}
.sbdocs-wrapper .core-color-yellow-90{
  background: var(--exo-palette-yellow-90);
}
/* Green */
.sbdocs-wrapper .core-color-green-20{
  background: var(--exo-palette-green-20);
}
.sbdocs-wrapper .core-color-green-30{
  background: var(--exo-palette-green-30);
}
.sbdocs-wrapper .core-color-green-40{
  background: var(--exo-palette-green-40);
}
.sbdocs-wrapper .core-color-green-50{
  background: var(--exo-palette-green-50);
}
.sbdocs-wrapper .core-color-green-60{
  background: var(--exo-palette-green-60);
}
.sbdocs-wrapper .core-color-green-70{
  background: var(--exo-palette-green-70);
}
.sbdocs-wrapper .core-color-green-80{
  background: var(--exo-palette-green-80);
}
.sbdocs-wrapper .core-color-green-90{
  background: var(--exo-palette-green-90);
}
/* Aqua */
.sbdocs-wrapper .core-color-aqua-30 {
  background: var(--exo-palette-aqua-30);
}
.sbdocs-wrapper .core-color-aqua-40 {
  background: var(--exo-palette-aqua-40);
}
.sbdocs-wrapper .core-color-aqua-50 {
  background: var(--exo-palette-aqua-50);
}
.sbdocs-wrapper .core-color-aqua-60{
  background: var(--exo-palette-aqua-60);
}
.sbdocs-wrapper .core-color-aqua-70{
  background: var(--exo-palette-aqua-70);
}
.sbdocs-wrapper .core-color-aqua-80{
  background: var(--exo-palette-aqua-80);
}
/* Navy */
.sbdocs-wrapper .core-color-navy-30{
  background: var(--exo-palette-navy-30);
}
.sbdocs-wrapper .core-color-navy-40{
  background: var(--exo-palette-navy-40);
}
.sbdocs-wrapper .core-color-navy-50{
  background: var(--exo-palette-navy-50);
}
.sbdocs-wrapper .core-color-navy-60{
  background: var(--exo-palette-navy-60);
}
.sbdocs-wrapper .core-color-navy-70{
  background: var(--exo-palette-navy-70);
}
.sbdocs-wrapper .core-color-navy-80{
  background: var(--exo-palette-navy-80);
}
/* Blue */
.sbdocs-wrapper .core-color-blue-30 {
  background: var(--exo-palette-blue-30);
}
.sbdocs-wrapper .core-color-blue-40 {
  background: var(--exo-palette-blue-40);
}
.sbdocs-wrapper .core-color-blue-50 {
  background: var(--exo-palette-blue-50);
}
.sbdocs-wrapper .core-color-blue-60{
  background: var(--exo-palette-blue-60);
}
.sbdocs-wrapper .core-color-blue-70{
  background: var(--exo-palette-blue-70);
}
.sbdocs-wrapper .core-color-blue-80{
  background: var(--exo-palette-blue-80);
}
/* Purple */
.sbdocs-wrapper .core-color-purple-40{
  background: var(--exo-palette-purple-40);
}
.sbdocs-wrapper .core-color-purple-50{
  background: var(--exo-palette-purple-50);
}
.sbdocs-wrapper .core-color-purple-60{
  background: var(--exo-palette-purple-60);
}
.sbdocs-wrapper .core-color-purple-70{
  background: var(--exo-palette-purple-70);
}
/* Magenta */
.sbdocs-wrapper .core-color-magenta-50{
  background: var(--exo-palette-magenta-50);
}
.sbdocs-wrapper .core-color-magenta-60{
  background: var(--exo-palette-magenta-60);
}
/* Gray */
.sbdocs-wrapper .core-color-gray-10{
  background: var(--exo-palette-gray-10);
}
.sbdocs-wrapper .core-color-gray-20{
  background: var(--exo-palette-gray-20);
}
.sbdocs-wrapper .core-color-gray-30{
  background: var(--exo-palette-gray-30);
}
.sbdocs-wrapper .core-color-gray-40{
  background: var(--exo-palette-gray-40);
}
.sbdocs-wrapper .core-color-gray-50{
  background: var(--exo-palette-gray-50);
}
.sbdocs-wrapper .core-color-gray-60{
  background: var(--exo-palette-gray-60);
}
.sbdocs-wrapper .core-color-gray-70{
  background: var(--exo-palette-gray-70);
}
.sbdocs-wrapper .core-color-gray-80{
  background: var(--exo-palette-gray-80);
}
.sbdocs-wrapper .core-color-gray-90{
  background: var(--exo-palette-gray-90);
}
.sbdocs-wrapper .core-color-gray-100{
  background: var(--exo-palette-gray-100);
}
/* Opacity classes*/
.sbdocs-wrapper .opacity-transparent {
  opacity: var(--exo-opacity-0);
}
.sbdocs-wrapper .opacity-10 {
  opacity: var(--exo-opacity-1);
}
.sbdocs-wrapper .opacity-15 {
  opacity: var(--exo-opacity-2);
}
.sbdocs-wrapper .opacity-40 {
  opacity: var(--exo-opacity-3);
}
.sbdocs-wrapper .opacity-50 {
  opacity: var(--exo-opacity-4);
}
.sbdocs-wrapper .opacity-60 {
  opacity: var(--exo-opacity-5);
}
.sbdocs-wrapper .opacity-75 {
  opacity: var(--exo-opacity-6);
}

/* Approved Colors */
.sbdocs-wrapper .approved-color-table{
  width: 100%;
  text-align: left;
}
.sbdocs-wrapper .approved-color-table thead tr th{
  font: var(--exo-text-sub-heading-medium-semi-bold);
  color: var(--exo-text-sub-heading-medium-semi-bold-color);
  background: var(--exo-color-background-disabled);
  padding: var(--exo-spacing-standard);
}
.sbdocs-wrapper .approved-color-table thead tr th:first-child{
  width: 25%;
}
.sbdocs-wrapper .approved-color-table tbody tr td{
  font: var(--exo-text-body-medium);
  color: var(--exo-text-body-medium-color);
  padding: var(--exo-spacing-standard);
  background: var(--exo-color-background);
  vertical-align: top;
}
.sbdocs-wrapper .approved-color-table .approved-color-swatch{
  height: var(--exo-size-1);
  border: 1px solid var(--exo-color-border);
}
.sbdocs-wrapper .approved-color-by-component table th:nth-last-child(2),
.sbdocs-wrapper .approved-color-by-component table td:nth-last-child(2),
.sbdocs-wrapper .approved-color-by-component table th:last-child,
.sbdocs-wrapper .approved-color-by-component table td:last-child{
  width: 200px;
}
.sbdocs-wrapper .approved-color-by-component table p{
  margin-bottom: var(--exo-spacing-2x-small);
}

/* Change log accordion */
.sbdocs-wrapper .change-log input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
/* Accordion styles */
.sbdocs-wrapper .change-log .tab {
  width: 100%;
  color: var(--exo-color-background);
  overflow: hidden;
}
.sbdocs-wrapper .change-log .tab-label {
  font: var(--exo-text-sub-heading-medium-semi-bold);
  color: var(--exo-text-sub-heading-medium-semi-bold-color);
  background-color: var(--exo-color-background);
  padding: var(--exo-spacing-x-small);
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.sbdocs-wrapper .change-log .tab-label span {
  margin-top: var(--exo-spacing-3x-small);
  margin-right: var(--exo-spacing-small);
  margin-left: var(--exo-spacing-none);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid var(--exo-color-border-secondary);
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  transition: transform .1s ease-out;
}
.sbdocs-wrapper .change-log .tab-label span:before {
  content: '';
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid var(--exo-color-background);
  position: absolute;
  left: -6px;
  right: 0;
  margin: auto;
  transform: translateY(-4px);
}
.sbdocs-wrapper .change-log .tab-content {
  display: none;
  padding: 0;
  font: var(--exo-text-body-medium);
  color: var(--exo-text-body-medium-color);
  background: var(--exo-color-background);
  transition: height 0.35s;
}
.sbdocs-wrapper .change-log .tab-content .jira-link{
  display: block;
  margin-bottom: var(--exo-spacing-large);
}
.sbdocs-wrapper .change-log .tab-content ul{
  padding-left: var(--exo-spacing-standard);
}
.sbdocs-wrapper .change-log .tab input:checked + .tab-label span {
  transform: rotate(90deg);
}
.sbdocs-wrapper .change-log .tab input:checked ~ .tab-content {
  display: block;
  padding: var(--exo-spacing-standard) var(--exo-spacing-standard) var(--exo-spacing-standard) var(--exo-spacing-large);
}

.button-story-wrapper, #story--components-button--1-overview {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-story-wrapper ex-button, #story--components-button--1-overview ex-button{
  margin: 0.5rem;
}

.icon-wrapper {
  font-size: var(--exo-font-size-2x-large);
  margin: 0 var(--exo-spacing-2x-small);
}